@import url(https://fonts.googleapis.com/css?family=Dosis:400,700|Michroma);

html, body
{
    color: #999;
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    background-color: #222;
    letter-spacing: 1px;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6
{
    color: #efa600;
    font-family: 'Michroma', sans-serif;
}

a
{
    color: #efa600;
    text-decoration: none;
    transition: color 0.2s;
    -o-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -webkit-transition: color 0.2s;
}

a:hover
{
    color: #00a6ef;
}

button
{
    cursor: pointer;
    outline: none;
    border: 0;
    border-radius: 0;
    background: none;
    margin: 0;
    padding: 0;
    font-size: 1em;
}

.clearfix:after
{
    content: ' ';
    display: block;
    width: 100%;
    clear: both;
}

.container
{
    width: 100%;
    height: 100%;
    display: block;
    padding-bottom: 64px;
    overflow: hidden;
    transition: margin-left 0.2s;
    -o-transition: margin-left 0.2s;
    -moz-transition: margin-left 0.2s;
    -webkit-transition: margin-left 0.2s;
}

.container.open
{
    margin-left: 240px;
}

.primary-sidebar
{
    width: 240px;
    height: 100%;
    background-color: #444;
    box-shadow: 1px 0 4px #000;
    position: fixed;
    top: 0;
    left: -240px;
    transition: left 0.2s;
    -o-transition: left 0.2s;
    -moz-transition: left 0.2s;
    -webkit-transition: left 0.2s;
    z-index: 999;
}

.primary-sidebar:hover
{
    left: 0;
}

.primary-sidebar button
{
    display: block;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    position: absolute;
    top: 96px;
    right: -32px;
    background-color: #333;
    box-shadow: 0 1px 4px #000;
    z-index: -1;
    border-radius: 4px;
    color: #666;
    transition: color 0.2s;
    -o-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -webkit-transition: color 0.2s;
}

.primary-sidebar button:hover
{
    color: #00a6ef;
}

.primary-navigation
{
    background-color: #333;
    box-shadow: 1px 0 4px #000;
    width: 100%;
    height: 100%;
}

.primary-navigation hr
{
    width: 50%;
    border: 0;
    border-top: 1px solid #666;
}

.primary-navigation li a
{
    display: block;
    padding: 16px;
    transition: color 0.2s, background-color 0.2s;
    -o-transition: color 0.2s, background-color 0.2s;
    -moz-transition: color 0.2s, background-color 0.2s;
    -webkit-transition: color 0.2s, background-color 0.2s;
}

.primary-navigation li a:hover
{
    background-color: #444;
}

.primary-header
{
    background-color: #333;
    box-shadow: 0 1px 4px #000;
}

.primary-header h1
{
    float: left;
    font-size: 2.5em;
    margin: 16px 16px 24px 16px;
}

.primary-header .auth-links
{
    float: right;
    margin: 16px;
}

.primary-header .auth-links li
{
    display: inline-block;
    margin-left: 16px;
}

.grid .cell
{
    width: 20%;
    float: left;
}

.grid .cell .inner-container
{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}

.grid .cell .inner-container .table-container
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 32px;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.grid .cell .inner-container table
{
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: #333;
    border-radius: 4px;
    box-shadow: 0 1px 4px #000;
    transition: box-shadow 0.2s;
    -o-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    -webkit-transition: box-shadow 0.2s;
}

.grid .cell .inner-container table:hover
{
    box-shadow: 0 4px 20px #000;
}

.grid .cell .inner-container table td
{
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.grid .cell .inner-container table td h3
{
    max-width: 90%;
    display: inline-block;
    text-shadow: 0 0 10px #000;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 8px;
    border-radius: 4px;
    line-height: 1.5em;
}

.grid .cell .inner-container table td h4
{
    margin-top: 16px;
}

.primary-footer
{
    width: 100%;
    background-color: #333;
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0 1px 4px #000;
    padding: 8px;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.primary-footer button
{
    float: right;
    width: 48px;
    height: 48px;
    position: absolute;
    right: 16px;
    bottom: 0;
    background-color: #333;
    border-radius: 4px;
    box-shadow: 0 1px 4px #000;
    color: #666;
    transition: color 0.2s;
    -o-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -webkit-transition: color 0.2s;
}

.primary-footer button:hover
{
    color: #eee;
}

.primary-footer .copyright-notice
{
    float: right;
    margin-right: 80px;
}

@media screen and (max-width: 1200px)
{
    .grid .cell
    {
        width: 25%;
    }
}

@media screen and (max-width: 960px)
{
    .grid .cell
    {
        width: 33.33%;
    }

    .grid .cell .inner-container .table-container
    {
        padding: 16px;
    }
}

@media screen and (max-width: 720px)
{
    .grid .cell
    {
        width: 50%;
    }
}

@media screen and (max-width: 640px)
{
    .primary-footer .copyright-notice
    {
        font-size: 0.75em;
    }
}

@media screen and (max-width: 480px)
{
    .primary-sidebar button
    {
        top: 120px;
    }

    .primary-header
    {
        text-align: center;
        overflow: hidden;
    }

    .primary-header h1
    {
        float: none;
    }

    .primary-header .auth-links
    {
        width: 100%;
        float: none;
        background-color: #555;
        overflow: hidden;
        margin: 0;
        padding: 8px;
        text-align: center;
        box-shadow: 0 1px 4px #000;
    }

    .grid .cell
    {
        width: 100%;
    }

    .primary-footer button
    {
        width: 32px;
        height: 32px;
    }

    .primary-footer .copyright-notice
    {
        margin-right: 48px;
        line-height: 1.5em;
    }
}
